body{
  margin:0;
  background-color: blue
}

.top{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ9M-H72rmAsJXFAsZv5Zh2l_WxKqVWzT2EhFu1IBFYqMwYtn5m9TTPk8dmbVucYQwsm5pTDgLYiYgrZQ4C2wuIEMBKhvPTq7hJ&usqp=CAU&ec=45690275")

}
h1,h3{
text-align: center;
color: white;
}
.learn{
  flex-direction: column;
margin: 0
}
.learn1{
  flex: 1;
  /* text-align:center; */
}
.description{
  background-color: #89c9b8;
  margin: 0;
  padding:0;
  padding: 10px
}
.description h2{
  text-align: center;
}
.who{
  background-color: #a7e9af;
}
.who h2{
  text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
html {
  background: rgb(246, 248, 248);
}
body {
  /* padding: 40px; */
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.promos {
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
}
.promo {
  width: 250px;
  background: #0F1012;
  color: #f9f9f9;
  float: left;
}
.deal {
  padding: 10px 0 0 0;
}
.deal span {
  display: block;
  text-align: center;
}
.deal span:first-of-type {
  font-size: 23px;
}
.deal span:last-of-type {
  font-size: 13px;
}
.promo .price {
  display: block;
  width: 250px;
  background: #292b2e;
  margin: 15px 0 10px 0;
  text-align: center;
  font-size: 23px;
  padding: 17px 0 17px 0;
}
.features {
  display: block;
  margin: 20px 0 10px 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  color: #999999;
}
.features li {
  display: block;
  margin: 10px 0 0 0;
}
button {
  border: none;
  border-radius: 40px;
  background: #292b2e;
  color: #f9f9f9;
  padding: 10px 37px;
  margin: 10px 0 20px 60px;
  /* align-content: center; */
}
.scale {
  transform: scale(1.2);
  box-shadow: 0 0 4px 1px rgba(20, 20, 20, 0.8);
}
.scale button {
  background: #64AAA4;
}
.scale .price {
  color: #64AAA4;
}
.container {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  /* border: 3px solid green;  */
}
.apply {
       background-color: #1c87c9;
       -webkit-border-radius: 60px;
       border-radius: 60px;
       border: none;
       color: #eeeeee;
       cursor: pointer;
       display: inline-block;
       font-family: sans-serif;
       font-size: 20px;
       padding: 10px 10px;
       text-align: center;
       text-decoration: none;
     }
     @keyframes glowing {
            0% {
              background-color: #2ba805;
              box-shadow: 0 0 5px #2ba805;
            }
            50% {
              background-color: #49e819;
              box-shadow: 0 0 20px #49e819;
            }
            100% {
              background-color: #2ba805;
              box-shadow: 0 0 5px #2ba805;
            }
          }
          .apply {
            animation: glowing 1300ms infinite;
          }
.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
    height:200px;
    width:200px;
}